<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> فروشگاه | @ViewData["Title"] </title>
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <partial name="_Styles" /> *@
    <link rel="stylesheet" type="text/css" href="/SiteQaleb/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/SiteQaleb/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/SiteQaleb/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/SiteQaleb/css/style.css">
    <link href="~/siteqaleb/nouislider/nouislider.min.css" rel="stylesheet" />
    <link href="~/siteqaleb/css/jquery-ui.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> *@
    <script src="/SiteQaleb/js/jquery.min.js"></script>
</head>
<body>
    <script src="/SiteQaleb/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href="/"> صفحه اصلی </a>
                                <a href="/Home/Archive"> آرشیو محصولات </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein">
                                    <i class="zmdi zmdi-account"></i><a href="/UserPanel/Home"> @User.Identity.Name ، خوش آمدید </a>
                                    /
                                    <a asp-area="" asp-controller="Login" asp-action="Logout"> خروج </a>
                                    /
                                    <i class="zmdi zmdi-shopping-basket"></i><a asp-area="UserPanel" asp-controller="Order" asp-action="ShowOrder"> سبد خرید </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>
                                    <a asp-area="" asp-controller="Login" asp-action="Login"> ورود </a> /
                                    <a asp-area="" asp-controller="Login" asp-action="Register"> عضویت </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    @await Component.InvokeAsync("ListProductGroup")
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی محصولات</a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با فروشگاه </a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی محصولات</a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با فروشگاه </a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <p>
                    تمامی حقوق مادی و معنوی این قالب متعلق به <a href="/"> فروشگاه آترین </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                </p>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <script src="/SiteQaleb/js/bootstrap.min.js"></script>
    <script src="/SiteQaleb/js/script.js"></script>
    <script src="~/siteqaleb/js/jquery-ui.min.js"></script>
    @* file autocomplete ra download kardam va link css o js dadam inja *@
    @* <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> *@
    <script src="~/siteqaleb/nouislider/nouislider.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
