@using Store.Domain.ViewModels
@model OrderViewModel

@{
    ViewData["Title"] = "نمایش سفارش جاری";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">فروشگاه آترین</a></li>
            <li class="breadcrumb-item active" aria-current="page"> نمایش سفارش </li>
        </ul>
    </nav>
</div>


<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                @await Component.InvokeAsync("SideBarUserPanel")
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> سفارش شما </h1></header>
                        @if (Model.order != null)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>محصول</th>
                                        <th>تعداد</th>
                                        <th>قیمت</th>
                                        <th>جمع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.order.orderDetails)
                                    {
                                        <tr>
                                            <td>
                                                <a href="" target="_blank">@item.product.ProductTitle</a>
                                            </td>
                                            <td>
                                                @item.Count
                                            </td>
                                            <td>@item.Price</td>
                                            <td>
                                                @(item.RowSum.ToString("#,0"))
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="3" class="text-left">جمع کل</td>
                                        <td>
                                            @Model.order.OrderSum.ToString("#,0")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-left"></td>
                                        <td colspan="2">
                                            <a asp-area="UserPanel" asp-controller="Order" asp-action="Payment" asp-route-id="@Model.order.OrderId" class="btn btn-success btn-block">تایید سفارش</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>*در حال حاضر سفارش جاری ندارید*</p>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>