@using Store.Domain.ViewModels
@using Store.Domain.Common.Date
@model ProductCommentViewModel

@{
    ViewData["Title"] = "لیست نظرات ";
}

<h2>لیست نظرات</h2>

<br />

<div>
    <form method="post" class="d-flex">
        <input class="form-control" name="aa" placeholder="عبارت مورد نظر را برای جستجو وارد کنید ..." id="Search" />
        <a href="#"><i class="fa fa-search"></i></a>
    </form>
</div>
<br />
<br />

<div class="card">
    <div class="body table-responsive">
        @if (Model != null && Model.productCommentList != null && Model.productCommentList.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ایدی</th>
                        <th>نظر</th>
                        <th>وضعیت</th>
                        <th>تاریخ ایجاد</th>
                        <th>فرد ایجاد کننده</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.productCommentList)
                    {
                        <tr>
                            <td>@item.CommentId</td>
                            <td>@item.Comment</td>
                            @* <td>@(item.IsValid ? "موجود" : "موجود نیست")</td> *@
                            <td>
                                @if (item.IsShow)
                                {
                                    <div class="badge col-green">قابل نمایش</div>
                                }
                                else
                                {
                                    <div class="badge col-red">غیر قابل نمایش</div>
                                }
                            </td>
                            <td>@item.CreateDate.ToShamsi()</td>
                            <td>@item.UserId</td>
                            <td>
                                <a onclick="openEditProduct(@item.ProductId)" class="text-warning">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a onclick="openDetailsProduct(@item.ProductId)" class="text-warning">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a onclick="openDeleteProduct(@item.ProductId)" class="text-warning">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info w-100 text-center" style="text-align:center">
                نظری یافت نشد
            </div>
        }
    </div>
</div>

<input class="form-control" name="aa" placeholder="عبارت مورد نظر را برای جستجو وارد کنید ..." id="Search" />