@using Store.Domain.ViewModels
@model ProductViewModel
@{
    ViewData["Title"] = "خانه";
}

@section SearchBox
{
<header style="color:black;">
    @* <a href="" class="logo"><img src="/SiteQaleb/images/logo.png"></a> *@
    <h1> فروشگاه اینترنتی آترین </h1>
    <h2> ببینید و با خیال آسوده آنلاین خرید کنید </h2>
    <h3> با بالاترین کیفیت پارچه و دوخت </h3>
</header>
<div class="search-form">
    <form>
            <input type="text" name="search" id="searchBox" placeholder="چی دوست داری بخری ؟">
        <button asp-controller="Home" asp-action="Archive"><i class="zmdi zmdi-search"></i></button>
    </form>
</div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> آخرین محصولات فروشگاه </h2>
                <a asp-controller="Home" asp-action="Archive"> مشاهده همه محصولات </a>
            </header>
            <div class="row">
                <!-- col -->
                @foreach(var item in Model.productList)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a asp-controller="Home" asp-action="ShowProduct" asp-route-id="@item.ProductId" class="img-layer" style="height:180px;"><img src="/SiteQaleb/UserAvatar/@item.ImageName"></a>
                            <h2><a asp-controller="Home" asp-action="ShowProduct" asp-route-id="@item.ProductId"> @item.ProductTitle </a></h2>
                            <span> @item.Price </span>
                            <i>@item.productGroup.GroupTitle</i>
                        </article>
                    </div>
                }
                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> محصولات محبوب فروشگاه </h2>
                <a asp-controller="Home" asp-action="Archive"> مشاهده همه محصولات </a>
            </header>
            <div class="row">
                @await Component.InvokeAsync("GetPopularProducts")
            </div>
        </section>
    </div>
</main>

@section Scripts {
    <script>
            $(document).ready(function () {
            $("#searchBox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoCom", "Home")',  // اکشن سرچ پیشنهادات
                        dataType: "json",
                        data: {
                            term: request.term  // عبارتی که کاربر وارد کرده است
                        },
                        success: function (data) {
                            response(data);  // دریافت پیشنهادات و ارسال به جعبه جستجو
                        }
                    });
                },
                minLength: 2, // حداقل تعداد کاراکترها برای شروع جستجو
                autoFocus: true // انتخاب خودکار اولین پیشنهاد
                // tooye CSS ham Font ra avaz kardam .ui-autocomplete va .ui-menu-item
            });
        });

    </script>
}